/*--Page d'accueil--*/
body{
  background-image:url("../img/goutte.jpg");
  background-size: cover;
}
#accroche{
  display: inline-flex;
  color:white;
}
#adage{
  margin-top: 15%;
  color: white;
  font-family: Calligraffitti;
  font-size: 20px;
}
#menu{
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
/* Le contenu des span contenus dans des a sont cachés
a span {
  display: flex;
  position: absolute;
  font-family: Pacifico;
  font-size: 20px;
}
Le contenu des span sont affichés au survol
a:hover span {
  display: block;
} */
.competences{
  height: 100%;
  width: 100%;
  padding-top: 10px;
  font-family: Pacifico;
  font-size: 20px;
}
.projet{
  height: 70%;
  width: 70%;
  font-family: Pacifico;
  font-size: 20px;
}
.evolution{
  height: 100%;
  width: 100%;
  padding-top: 10px;
  font-family: Pacifico;
  font-size: 20px;
}
.contact{
  height: 60%;
  width: 60%;
  font-family: Pacifico;
  font-size: 20px;
}
/*Le footer*/
/* La photo */
#photo{
  padding-top: 1%;
  padding-bottom: 1%;
  border-right: 2px solid white;
}
#borderPhoto{
  box-shadow: 2px 4px 4px white;
}
#homeText{
  font-style: oblique;
}
#signature{
  font-size: 30px;
  font-family: Calligraffitti;
}
/*--Photo pour le retour à la page d'accueil--*/
.img-circle{
  width: 15%;
  height: 95%;
}
/*--Page sur les compétences--*/
#pageCompetences{
  background-image: url("../img/pissenlit.jpg");
  background-size: cover;
}
.inter_title, .assets{
  font-family: Pacifico;
  color: #6F5436;
}
.title_competences{
  font-family: Pacifico;
}
.assets{
  font-size: 20px;
}
.return_home_link{
  color: white;
  font-family: Pacifico;
}
.return_home_img{
display: flex;
margin: auto;
  height: 20%;
  width: 20%;
}
/*--Page sur mes projets--*/
#pageProjects{
  background-image: url("../img/herbe.jpg");
  background-size: cover;
}
#titleProjects{
  font-family: Pacifico;
  color: #65A704;
}
#dateProjects{
margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #65A704;
  font-family: Pacifico;
  font-size: 20px;
}
#summaryProjects{
margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: white;
  font-family: Pacifico;
  font-size: 20px;
}
#toolProjects{
margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #65A704;
  font-family: Pacifico;
  font-size: 20px;
}
/*--Page sur mon évolution--*/
#pageEvolution{
  background-image: url("../img/flocon.jpg");
}
/*--Page sur me contacter--*/
#pageContact{
  background-image:url("../img/maison.jpg");
  background-size: cover;
}
.fa{
  color: #0C680F;
}
.contact_info{
  color: #5F040A;
  font-family: Pacifico;
  font-size: 20px;
}
.logo_github{
  width: 50%;
}
.logo_linkedin{
  width: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.contact_links{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
