/*--Page d'accueil--*/
body{
  background-image:url("../img/fond-ecran.jpg");
}
#accroche{
  display: inline-flex;
  color:white;
}

#adage{
  margin-top: 15%;
  color: white;
  font-family: Calligraffitti;
  font-size: 20px;
}
#menu{
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
/* Le contenu des span contenus dans des a sont cachés
a span {
  display: flex;
  position: absolute;
  font-family: Pacifico;
  font-size: 20px;
}
Le contenu des span sont affichés au survol
a:hover span {
  display: block;
} */
.competences{
  height: 100%;
  width: 100%;
  padding-top: 10px;
  font-family: Pacifico;
  font-size: 20px;
}
.projet{
  height: 70%;
  width: 70%;
  font-family: Pacifico;
  font-size: 20px;
}
.evolution{
  height: 100%;
  width: 100%;
  padding-top: 10px;
  font-family: Pacifico;
  font-size: 20px;
}
.contact{
  height: 60%;
  width: 60%;
  font-family: Pacifico;
  font-size: 20px;
}
/*Le footer*/
/* La photo */
#photo{
  padding-top: 1%;
  padding-bottom: 1%;
  border-right: 2px solid white;
}
#borderPhoto{
  box-shadow: 2px 4px 4px white;
}
#homeText{
  font-style: oblique;
}
#signature{
  font-size: 30px;
  font-family: Calligraffitti;
}
/*--Page sur les compétences--*/
#pageCompetences{
  background-image: url("../img/fond-compétences.jpg");
}
.inter_title, .assets{
  font-family: Pacifico;
  color: #FFD2F9;
}
.assets{
  font-size: 20px;
}
/*--Page sur mes projets--*/
/*--Page sur mon évolution--*/
#pageEvolution{
  background-image: url("../img/fond-évolution.jpeg");
}
/*--Page sur me contacter--*/
